<app-menu></app-menu>
<div class="container-fluid mb-3">
  <div *ngIf="eventosCriados == []">
    <div class="aviso">
      <img src="../../../assets/img/alert_attention.svg" id="alert">
      <h3>Você não possui nenhum evento criado!</h3>
    </div>
  </div>
  <h1>Meus Eventos Criados</h1>
  <div class="container-xxl cards-dv" *ngIf="eventosCriados.length >= 0">
    <div class="card border-primary mb-3 card-dv" *ngFor="let user of datas">
      <div class="card-header">
        <h3 class="card-title">{{user.nome}}</h3>
      </div>
      <div class="card-body">
        <div class="dv-availability">
          <h4 class="card-vacancy">Vagas: {{user.vagas}}/{{user.quantidade}}</h4>
          <h5 class="category">{{user.categoria}}</h5>
        </div>
        <div class="dv-status">
          <h6>{{user.status}}</h6>
        </div>
        <div class="divisao">
          <div class="dv-descricao">
            <div class="dv-d">
              <span class="material-symbols-outlined">
                group
              </span>
              <p>Vagas: {{user.vagas}}/{{user.quantidade}}</p>
            </div>
            <div class="dv-d">
              <span class="material-symbols-outlined">
                category
              </span>
              <p>{{user.categoria}}</p>
            </div>
            <div class="dv-d">
              <span class="material-symbols-outlined">
                person
              </span>
              <p>{{user.email}}</p>
            </div>
          </div>
          <div class="dv-descricao1">
            <div class="dv-d">
              <span class="material-symbols-outlined">
                calendar_month
              </span>
              <p>{{user.data}}</p>
            </div>
            <div class="dv-d">
              <span class="material-symbols-outlined">
                schedule
              </span>
              <p>{{user.horarioInicio}}h às {{user.horarioFinal}}h</p>
            </div>
            <div class="dv-d">
              <span class="material-symbols-outlined">
                pin_drop
              </span>
              <p>Evento na {{user.local}}</p>
            </div>
          </div>
        </div>
        <!-- <div class="dv-date">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <h4 class="card-date">{{user.data}}</h4>
                </div>
                <div class="dv-time">
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                    <h4 class="card-time">{{user.horarioInicio}}h às {{user.horarioFinal}}h</h4>
                </div>
                <div class="dv-location">
                    <span class="material-symbols-outlined">
                        pin_drop
                    </span>
                    <h4 class="card-location">Evento na {{user.local}}</h4>
                </div> -->
        <div class="dv-button">
          <button class="btn btn-primary btn-card" (click)="onEdit(user.id)">Editar</button>
          <button class="btn btn-secondary btn-card" (click)="onDelete(user)">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse evento?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
