<app-menu></app-menu>
<div class="card">
  <div class="card-title">
    <h1 class="tracking-in-expand">{{detalhes.nome}}</h1>
  </div>
  <div class="divisao">
    <div class="dv-descricao">
      <div class="dv-d">
        <span class="material-symbols-outlined">
          group
        </span>
        <p>Vagas: {{detalhes.vagas}}/{{detalhes.quantidade}}</p>
      </div>
      <div class="dv-d">
        <span class="material-symbols-outlined">
          category
        </span>
        <p>{{detalhes.categoria}}</p>
      </div>
      <div class="dv-d">
        <span class="material-symbols-outlined">
          person
        </span>
        <p>{{detalhes.email}}</p>
      </div>
    </div>
    <div class="dv-descricao1">
      <div class="dv-d">
        <span class="material-symbols-outlined">
          calendar_month
        </span>
        <p>{{detalhes.data}}</p>
      </div>
      <div class="dv-d">
        <span class="material-symbols-outlined">
          schedule
        </span>
        <p>{{detalhes.horarioInicio}}h às {{detalhes.horarioFinal}}h</p>
      </div>
      <div class="dv-d">
        <span class="material-symbols-outlined">
          pin_drop
        </span>
        <p>Evento na {{detalhes.local}}</p>
      </div>


    </div>
  </div>
  <div class="descricao">
    <h2>Descrição do evento:</h2>
    <p>{{detalhes.descricao}}</p>
  </div>
  <div class="btn">
    <button class="jello-horizontal btn btn-primary" (click)="inscrever()">Inscrever-se</button>
  </div>
</div>
