<app-menu></app-menu>
<div class="container-fluid mb-3">
  <div *ngIf="eventosInscritos == []">
    <div class="aviso">
      <img src="../../../assets/img/alert_attention.svg">
      <h3>Você não possui nenhum evento inscrito!</h3>
    </div>
  </div>
    <div class="container-xxl cards-dv" *ngIf="eventosInscritos.length >=0">
        <div class="card border-primary mb-3 card-dv" *ngFor="let user of datas">
            <div class="card-header">
                <h3 class="card-title">{{user.nome}}</h3>
            </div>
            <div class="card-body">
                <div class="dv-availability">
                    <h4 class="card-vacancy">Vagas: {{user.vagas}}/{{user.quantidade}}</h4>
                    <h5 class="category">{{user.categoria}}</h5>
                </div>
                <div class="dv-status">
                    <h6>{{user.status}}</h6>
                </div>
                <div class="dv-date">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <h4 class="card-date">{{user.data}}</h4>
                </div>
                <div class="dv-time">
                    <span class="material-symbols-outlined">
                        schedule
                    </span>
                    <h4 class="card-time">{{user.horarioInicio}}h às {{user.horarioFinal}}h</h4>
                </div>
                <div class="dv-location">
                    <span class="material-symbols-outlined">
                        pin_drop
                    </span>
                    <h4 class="card-location">Evento na {{user.local}}</h4>
                </div>
                <div class="dv-button">
                    <button class="btn btn-primary btn-card">Inscrito</button>
                    <a class="cancelar" (click)="cancelar(user.id)">Cancelar inscrição</a>
                </div>
            </div>
        </div>
    </div>
</div>
