.container-fluid {
    width: 85%;
    margin: 0px auto;
    }

    .btn-primary {
        background-color: #13141d;
    }

    h1 {
      border-bottom: 1px solid #0B63CE;
      font-family: 'Source Sans Pro', sans-serif;
      width: 34%;
      text-align: center;
      justify-content: center;
      margin: 0 auto;
    }

    .aviso {
      margin-top: 100px;
      justify-content: center;
      text-align: center;
      border-radius: 1.5rem;
      border: none;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .aviso > h3 {
      font-size: 22px;
      font-family: 'Source Sans Pro', sans-serif;
      padding:20px;
      font-style: italic;
    }
    img {
      width: 100px;
      text-align: center;
      align-items: center;
      align-content: center;
      margin: 0 auto;
    }

    .cards-dv {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      margin-top: 50px;
    }

    .card-header{
        min-height: 15%;
        background-color: #0B63CE !important;
        color: white;
        align-items: center;
        justify-content: center ;
        display: flex;
    }

    .card-body{
    min-height: 20%;
    }

    .card-dv {
        margin: 15px;
        width: 30%;
        border: #0B63CE 2px solid !important;
        border-radius: 7px !important;
    }

    .card{
        cursor: default;
        width: 16rem;
        height: 23rem;
        border-radius: 1.5rem;
        box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
      }
      .card:hover {
      transform: scale(1.1);

      }
    .card-title{
        font-size: 23px;
        padding: 5px 0px 0px 0px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .dv-availability{
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;
        align-items: center;

    }

    .category{
      font-size: 15px;
      background: none;
      text-align: center;
      font-family: 'Source Sans Pro', sans-serif;
      color: #0B63CE;
      font-weight: bold;
      transition: all 100ms cubic-bezier(0.2, 0, 0, 0.8);
  }

  .category:hover {

    transform: scale(1.1);
  }

    .card-vacancy{
        font-size: 15px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .dv-status{
        color: #2CBE32;
        font-size: 14px;
        margin-bottom: 15px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .dv-date, .dv-time,.dv-location {
        display: flex;
        padding:5px 0px 5px 0px;
        align-items: center;
    }

    .card-date{
        margin-left: 10px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 50
      }

    .card-time{
        margin-left: 10px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .card-location{
        margin-left: 10px;
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .dv-button{
        flex-direction: column;
        display: flex;
        width: 100%;
    }

    .dv-button button{
      display: flex;
      width: 100%;
      font-size: 18px;
      justify-content: center;
      color: #fff;
      background-color: #5a6268;
      border-color: #545b62;
    }

    .cancelar{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      padding-top: 5px;
      text-align: center;
      cursor: pointer;
      color: #000;
    }
